@font-face
{
	font-family: "cowboy";
	src: url("../assets/Rye.ttf");
}

#something
{
	width: 100wide;
	height: 100long;
	position: fixed;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimizeSpeed;
	image-rendering: -o-crisp-edges;
	image-rendering: -moz-crisp-edges;
}

#gridContainer
{
	position: fixed;
	display: grid;
	width: 100wide;
	height: 100long;
	grid-template-columns: 3fr 2fr 1fr 2fr 3fr
	grid-template-rows: 10% 10% auto;
}

body
{
	background-image: url("../assets/titleBack.png");
	width: 1500px;
	height: 768px;
	background-repeat: no-repeat;
	text-align: center;
}

#title
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: brown;
	font-family: "cowboy";
	font-size: 600%;
	font-weight: bold;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #654321;
}

.startGame
{
	grid-column-start: 3;
	grid-row-start: 2;
	background-color: #654321;
	width: 150%;
	height: 150%;
	border-radius: 50px;
	text-align: center;
	cursor: pointer;
}

a
{
	color: white;
	font-family: "cowboy";
	position: relative;
	display: block;
}

#startGame:hover
{
	border-style: solid;
	border-color: #52361b;
	border-width: 5px;
	background-color: #744d26;
}

/*#instructions
{
	grid-column-start:2;
	grid-row-start:2;
	width: 100%;
	height: 100%;
	font-family: Arial;
}*/